@siteBaseColor: #359C31;

//Каталог
.catalog{
  &__wrapper{
    display: flex;
    justify-content: space-between;
    margin-bottom: 152px;
  }
  &__body{
    width: 100%;
    max-width: 876px;
    margin-left: 32px;
  }
  &__row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__col{
    width: 100%;
    max-width: 32%;
    margin-bottom: 16px;
    overflow: hidden;
    cursor: pointer;
    transition: all .3s ease-in-out .1s;
    &:hover{
      box-shadow: 0px 20px 20px rgba(50, 50, 71, 0.12), 0px 32px 40px rgba(50, 50, 71, 0.12);
      transition: all .3s ease-in-out;
      transform: translateY(-2px) translateZ(10px);
    }
  }
}
//Медиа запросы

@media only screen and (max-width: 768px){
  .catalog{
    &__wrapper{
      flex-direction: column;
      margin-bottom: 116px;
    }
    &__body{
      margin-left: 0;
    }
    &__title{
      margin-bottom: 24px;
      font-size: 24px;
    }
    &__col{
      max-width: 48%;
    }
  }
}

