@import './variables.less';
@import './reset.less';
//Шрифт
@font-face {
  font-family: "Montserrat-Regular";
  src: url("../assets/fonts/Montserrat-Regular.ttf") format("TrueType"),
  url("../assets/fonts/Montserrat-Regular.woff") format("woff"),
  url("../assets/fonts/Montserrat-Regular.woff2") format("woff2")
;
}
@font-face {
  font-family: "Montserrat-Medium";
  src: url("../assets/fonts/Montserrat-Medium.ttf") format("TrueType"),
       url("../assets/fonts/Montserrat-Medium.woff") format("woff"),
       url("../assets/fonts/Montserrat-Medium.woff2") format("woff2")
;
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("../assets/fonts/Montserrat-Bold.ttf") format("TrueType"),
       url("../assets/fonts/Montserrat-Bold.woff") format("woff"),
       url("../assets/fonts/Montserrat-Bold.woff2") format("woff2")
;
}
@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("../assets/fonts/Montserrat-SemiBold.ttf") format("TrueType"),
  url("../assets/fonts/Montserrat-SemiBold.woff") format("woff"),
  url("../assets/fonts/Montserrat-SemiBold.woff2") format("woff2")
;
}

html {
  font-family: "Montserrat-Regular",Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  scroll-behavior: smooth;
  color: @baseFontColor;
}
html,body{
  min-height: 100%;
  height: 100%;
  width: 100%;
}
body{
  height: auto;
  background: @bodyBgColor;
}
//Скроллбар
::-webkit-scrollbar{
  appearance: none;
  width: 8px;
  height: 8px;
  border-radius: 5px;
  background-color: #C4C4C4;
}
::-webkit-scrollbar-thumb{
  appearance: none;
  border-radius: 10px;
  position: relative;
  background: @scrollbarColor;
}
#app{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  overflow: hidden;
}
.overlay{
  display: none;
  position: fixed;
  top: @headerMobHeight;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background: rgba(0,0,0,.25);
  z-index: 10;
  &.fade-in-overlay{
    display: block;
  }
}
.stop-scroll{
  overflow: hidden;
}
.container{
  width: 100%;
  max-width: 1232px;
  margin: 0 auto;
  padding: 0 16px;
}
.content{
  flex: 1 1 auto;
  padding-top: calc( @headerMobHeight + 24px);
  @media only screen and (min-width: 768px){
    padding-top: 0;
  }
}
//Icons
.burger-icon{
  width: 100%;
  max-width: 24px;
  height: 100%;
  max-height: 24px;
  fill: #fff;
  &-mob{
    fill: #1A1A1A;
  }
}
.header-mob-logo{
  width: 100%;
  max-width: 80px;
  height: 100%;
  max-height: 38px;
}
.header-drop-menu-icon{
  width: 100%;
  max-width: 38px;
  height: 100%;
  max-height: 38px;
  fill: #fff;
  &-mob{
    width: 100%;
    max-width: 28px;
    height: 100%;
    max-height: 28px;
    fill: #fff;
  }
}
.close-icon{
  width: 100%;
  max-width: 15px;
  height: 100%;
  max-height: 15px;
  fill: #FFFFFF;
}
.inst-icon{
  width: 100%;
  max-width: 18px;
  height: 100%;
  max-height: 18px;
  fill: #fff;
}
.drop-arrow-icon{
  width: 100%;
  max-width: 8px;
  height: 100%;
  max-height: 5px;
  fill: #A0A0A0;
}
.filter-icon{
  fill: @siteBaseColor;
}
.search-icon{
  width: 100%;
  max-width: 18px;
  height: 100%;
  max-height: 18px;
  fill: #A0A0A0;
  &-mob{
    fill: #1A1A1A;
  }
}
.phone-icon{
  width: 100%;
  max-width: 18px;
  height: 100%;
  max-height: 18px;
  fill: #1A1A1A;
}
.footer-logo{
  width: 100%;
  max-width: 160px;
  height: 100%;
  max-height: 80px;
}
//Стили для номера телефона
.phone-num{
  display: inline-block;
  font-family: "Montserrat-SemiBold",Arial, sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.4em;
}
//Стили для социальных сетей
.social-network{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  &__item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background: @siteBaseColor;
    border-radius: 50%;
  }
}
//Заголовок страниц
.page-title{
  margin-bottom: 24px;
  font-family: "Montserrat-SemiBold",Arial, sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2em;
  @media only screen and (min-width: 768px){
    margin-bottom: 40px;
    font-size: 48px;
  }
}
//Хлебные крошки
.breadcrumbs{
  margin-bottom: 16px;
  line-height: 1.4em;
  font-size: 12px;
  @media only screen and (min-width: 768px){
    font-size: 14px;
  }
  &__list{
    display: flex;
  }
  li{
    &:not(:last-child){
      &:after{
        content: ">";
        padding: 0 3px;
      }
    }
  }
  &__link{
    color:@breadcrumbColor;
    transition: all .3s ease-in-out;
    &:hover{
      color:@breadcrumbHoverColor;
      transition: all .3s ease-in-out;
    }
    &.active{
      color:@breadcrumbHoverColor;
    }
  }
}
//Фильтр
.filter{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 26px;
  @media only screen and (min-width: 1024px){
    flex-direction: row;
    align-items: center;
    margin-bottom: 40px;
  }
  &.fade-in{
    display: none;
  }
  &__item{
    display: flex;
    align-items: center;
    padding: 6px 12px;
    margin-bottom: 8px;
    color: #fff;
    background: @siteBaseColor;
    border-radius: 4px;
    @media only screen and (min-width: 1024px){
      margin-bottom: 0;
      margin-right: 8px;
    }
    &-text{
      font-weight: 400;
      font-size: 14px;
      line-height: 1.4em;
      margin-right: 8px;
    }
    &-icon{
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &__link-all{
    color: #A0A0A0;
    border-bottom: 1px dashed #A0A0A0;
    transition: all .4s ease-in-out;
    @media only screen and (min-width: 1024px){
      margin-left: 4px;
    }
    &:hover{
      border-bottom: none;
      transition: all .4s ease-in-out;
    }
  }
}
//Карточка товара
.сard-product{
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #fff;
  &__body{
    display: flex;
    flex-direction: column;
    padding: 16px;
  }
  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 124px;
    overflow: hidden;
    @media only screen and (min-width: 768px){
      min-height: 264px;
    }
    img{
      object-fit: cover;
    }
  }
  &__text{
    font-size: 12px;
    line-height: 1.4em;
    margin-bottom: 4px;
    @media only screen and (min-width: 768px){
      font-size: 14px;
    }
  }
  &__price{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 135px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.4em;
    @media only screen and (min-width: 768px){
      font-size: 18px;
    }
    &-old{
      margin-left: 8px;
      font-weight: 400;
      font-size: 14px;
      text-decoration: line-through;
      color: #A0A0A0;
    }
  }
}
//О компании
.about-company{
  margin-bottom: 60px;
  @media only screen and (min-width: 768px){
    margin-bottom: 80px;
  }
  &__title{
    margin-bottom: 16px;
    font-family: "Montserrat-SemiBold",Arial, sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 1.3em;
    @media only screen and (min-width: 768px){
      margin-bottom: 24px;
      font-size: 36px;
    }
  }
  &__text{
    font-size: 14px;
    line-height: 1.4em;
    @media only screen and (min-width: 768px){
      font-size: 18px;
    }
    p{
      &:not(:last-child){
        margin-bottom: 20px;
      }
    }

  }
}
//Jquery-ui slider
.ui-slider{
  height: 4px;
  border: 0 !important;
  .ui-slider-handle{
    top: -11px;
    width: 24px;
    height: 24px;
    border: 0 !important;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0px 2px 2px rgba(50, 50, 71, 0.06), 0px 2px 4px rgba(50, 50, 71, 0.06);
    cursor: pointer;
  }
}
.ui-widget-content{
  background: @siteBaseColor;
}
.ui-state-hover,.ui-state-active{
  background: darken(#fff,15%) !important;
}
//input
.range{
  &__range-input{
    position: relative;
    display: block;
    padding-bottom: 28px;
  }
  &__output{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
    &-item{
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      width: 100%;
      max-width: 105px;
      border: 1px solid #C4C4C4;
      border-radius: 4px;
      padding: 6px 0;
      color: #A0A0A0;
      font-size: 12px;
      @media only screen and (min-width: 768px){
        font-size: 14px;
      }
      span{
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        color: #A0A0A0;
      }
      input[type= "number"]{
        font-size: 14px;
        line-height: 1.2;
        width: 100%;
        padding: 0;
        padding-left: 33px;
      }
    }
  }
}
input[type = "range"]{
    position: absolute;
    appearance: none;
    width: 100%;
    height: 4px;
    background: #C4C4C4;
    outline: none;
    &::-webkit-slider-thumb {
      pointer-events: all;
      position: relative;
      z-index: 1;
      appearance: none;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: #fff;
      box-shadow: 0 2px 2px rgba(50, 50, 71, 0.06), 0 2px 4px rgba(50, 50, 71, 0.06);
      cursor: pointer;
      transition: .2s ease-in-out;
    }
}
.switch-input{
  position: relative;
  display: inline-block;
  width: 35px;
  height: 20px;
  input[type = "checkbox"]{
    appearance: none;
    opacity: 0;
    width: 0;
    height: 0;
    &:checked + .slider-input{
      background-color: @siteBaseColor;
    }
    &:focus + .slider-input{
      box-shadow: 0 0 1px @siteBaseColor;
    }
    &:checked + .slider-input:before{
      transform: translateX(13px);
      transition: all .3s ease-in-out;
    }
  }
  .slider-input{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 34px;
    transition: all .3s ease-in-out;
    &:before{
      position: absolute;
      content: "";
      height: 14px;
      width: 14px;
      left: 2px;
      bottom: 3px;
      background-color: white;
      border-radius: 34px;
      transition: all .3s ease-in-out;
    }
  }
}
.checkbox-custom{
  input[type = "checkbox"]{
    display: none;
    padding: 0;
    margin-bottom: 0;
    cursor: pointer;
    &:checked + label:after{
      content: '';
      position: absolute;
      display: block;
      top: 4px;
      left: 9px;
      width: 6px;
      height: 14px;
      border: solid @siteBaseColor;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg) ;
    }
    &:checked + label:before{
      border-color: @siteBaseColor;
      transition: all .2s ease-in-out;
    }
    &:checked + label{
      color: @siteBaseColor;
      transition: all .2s ease-in-out;
    }
  }
  label{
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 12px;
    @media only screen and (min-width: 768px){
      font-size: 14px;
    }
    &:before{
      content:'';
      appearance: none;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: 22px;
      position: relative;
      background-color: transparent;
      border: 2px solid #A0A0A0;
      border-radius: 4px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
      padding: 10px;
      cursor: pointer;
      margin-right: 5px;
    }
  }
}


