@footerBgColor: #1A1A1A;
@footerColor: #A0A0A0;
@siteBaseColor: #359C31;
//Icons
.footer-logo{
  width: 100%;
  max-width: 160px;
  height: 100%;
  max-height: 80px;
}
//Footer
.footer-top,.footer-bottom{
  display: flex;
  justify-content: space-between;
}
.footer{
  padding: 40px 0 32px;
  background:@footerBgColor;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4em;
  color:@footerColor;
  &-top{
    margin-bottom: 32px;
  }
  &-bottom{
    align-items: center;
  }
  &__col{
    display: flex;
    flex-direction: column;
    width: 100%;
    &:not(:last-child){
      margin-right: 16px;
    }
    &-title{
      margin-bottom: 16px;
      color: #fff;
      font-weight: 600;
      font-size: 18px;
      line-height: 1.4em;
    }
  }
  &__company{
    max-width: 286px;
  }
  &__logo{
    display: flex;
    align-items: flex-start;
    margin-bottom: 24px;
  }
  &__address{
    margin-bottom: 16px;
  }
  &__confid-link{
    color:@footerColor;
    text-decoration: underline;
    transition: all .4s ease-in-out;
    &:hover{
      color:@footerColor;
      text-decoration: none;
      transition: all .4s ease-in-out;
    }
  }
  &__catalog{
    max-width: 266px;
    &-row{
      display: flex;
      justify-content: space-between;
      nav{
        margin-right: 8px;
      }
    }
    &-link{
      display: inline-block;
      margin-bottom: 8px;
      color:@footerColor;
      &:hover{
        color:@footerColor;
      }
    }
  }
  &__magazine{
    max-width: 140px;
    &-link{
      display: inline-block;
      margin-bottom: 8px;
      text-align: left;
      color:@footerColor;
      &:hover{
        color:@footerColor;
      }
    }
  }
  &__contacts{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 205px;
    &-phone{
      margin-bottom: 8px;
      font-weight: 600;
      font-size: 24px;
      line-height: 1.25em;
      color: @siteBaseColor;
      &:hover{
        color: @siteBaseColor;
      }
    }
    &-regime{
      margin-bottom: 16px;
    }
    &-mail{
      margin-bottom: 42px;
      color: #fff;
      text-decoration: underline;
      transition: all .4s ease-in-out;
      &:hover{
        color: #fff;
        text-decoration: none;
        transition: all .4s ease-in-out;
      }
    }
  }
  &__social-network{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    &-item{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      background: @siteBaseColor;
      border-radius: 50%;
    }
  }
  &__developer-link{
    color: @footerColor;
    text-decoration: underline;
    transition: all .4s ease-in-out;
    &:hover{
      color: @footerColor;
      text-decoration: none;
      transition: all .4s ease-in-out;
    }
  }
}
//Медиа запросы
@media only screen and (max-width: 1024px){
  .footer{
    &__col{
      &:not(:last-child){
        margin-right: 8px;
      }
    }
  }
}
@media only screen and (max-width: 768px){
  .footer{
    &-top{
      flex-direction: column;
      margin-bottom: 24px;
    }
    &-bottom{
      flex-direction: column;
      align-items: flex-start;
    }
    &__logo{
      display: none;
    }
    &__catalog{
      display: none;
    }
    &__magazine{
      margin-right: 0;
      margin-bottom: 16px;
      &-title{
        display: none;
      }
    }
    &__copyright{
      margin-bottom: 8px;
    }
    &__contacts{
      align-items: flex-start;
      margin-bottom: 24px;
      &-mail{
        margin-bottom: 16px;
      }
    }
    &__adress{
      margin-bottom: 8px;
    }
    &__company{
      order: 3;
    }
  }
}

